<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand text-light" href="{{ path('blog_list')}}">Blog.</a>
        <a class="navbar-brand text-light" href="{{ path('show')}}">Tous mes articles</a>
    </nav>
</header>
<h1> {% block h1 %}{% endblock %}
</h1>        {% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
